html {
    box-sizing: border-box;
}

body {
   background-color: #f5f9ee;
   min-height: 100%;
   margin: 0px 0px 0px 0px;
}

.main-form-body {
    padding: 70px;
    margin-top: 50px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
}

.main-text {
    margin: 40px 0px -50px 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}