@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Serif+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Vina+Sans&display=swap');


html {
    box-sizing: border-box;
}

body {
   background-color: #ffe9e3;
   min-height: 100%;
   margin: 0px 0px 0px 0px;
}

.main-form-body {
    padding: 5px 50px 50px 50px;
    margin: 5px 0px 0px 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
}

div > p {
    font-family: "Source Serif Pro", serif, monospace;
    font-size: large;
    font-weight: 900;
}

.main-text {
    padding: 50px;
    margin: 5px 0px -50px 578px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.form-inline label {
    margin: 5px 10px 5px 0px;
    display: flex;
}

input {
    border-radius: 5px;
    border: 2px solid #ec729c;
    width: 400px;
    height: 23px;
}

button {
    border: 3px solid #8dc6ff;
    border-radius: 8px;
    padding: 12px 50px 12px 50px;
    margin: 40px 0px 0px 635px;
    font-size: 1rem;
    font-weight: 900;
    background-color: #8dc6ff;
}

button:hover {
    cursor: pointer;
    background-color: #5585b5;
}

.login-text {
    padding: 5px;
    margin: 15px 0px -50px 635px;
}

a {
    text-decoration: none;
    color: #5585b5;
}

a:hover {
    color: #8dc6ff;
}

.background-image {
    background-image: url(images/background-image.jpg);
    
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
}

#odin {
    font-size: large;
}

.overlay {
    /* Set the dimensions of the container */
    height: 180px;
    width: 300px;

    /* Set the text font rules */
    font-family: "Vina Sans", serif;
    font-size: 5.5rem;
    color: #ffffff;

    /* Position the image and text */
    position: absolute;
    top: 250px;
    left: 150px;
    display: flex;
    justify-content: space-around;
    
    /* Add the logo image file */
    background-image: url(images/odin-logo.png);

    background-size: 30%;
    background-repeat: no-repeat;
}