html {
    box-sizing: border-box;
}

body {
   background-color: #ffe9e3;
   min-height: 100%;
   margin: 0px 0px 0px 0px;
}

.main-form-body {
    padding: 70px;
    margin: 50px 0px 0px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
}

.main-text {
    padding: 50px;
    margin: 40px 0px -50px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

button {
    border: 2px solid #ffe9e3;
    border-radius: 8px;
    padding: 12px 50px 12px 50px;
    margin: 40px 0px 0px 575px;
    font-size: 1rem;
    font-weight: 900;
    background-color: #8dc6ff;
}

.login-text {
    padding: 5px;
    margin: 4px 0px -50px 575px;
}

a {
    text-decoration: none;
    color: #5585b5;
}